.cor{
    color:blueviolet;
}
body {
    margin: 0;
    padding: 0;
}

.purple-background {
    background-color: blueviolet;
    width: 100%; 
    height: 50vh; 
    padding: 20px; 
    background: linear-gradient(to right, rgb(247, 203, 247), blueviolet);
}

.git:hover{
    scale: 1.5;
    transition: 1s ease;
}
.git{
    scale: 1;
    transition: 1s;
}