.cor{
    color:blueviolet;
}
body {
    margin: 0;
    padding: 0;
}

.purple-background {
    background-color: blueviolet;
    width: 100%; 
    height: 50vh; 
    padding: 20px; 
    background: linear-gradient(to right, rgb(247, 203, 247), blueviolet);
}

.imagemAparecendo:hover{
    scale: 1.5;
    transition: 1s ease;
}

#textoDigitado1 {
    font-size: 20px;
    font-family:Verdana;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
    color: #490450; /
  }

  #textoDigitado2 {
    font-size: 20px;
    font-family:Verdana;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
    color: #490450; /
  }
  .imagemAparecendo {
    display: none;
    scale: 1;
    transition: 1s;
  }
  .imagemAparecendo[mostrar] {
    display: inline-block;
  }
  .titulo {
    font-size: 50px;
    font-family:Verdana;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
    color: #490450; /
  }
  .subtitulo{
    font-size: 20px;
    font-family:Verdana;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
    color: #490450; /
  }
  .linguagenpython{
    font-family: Impact;
    color: rgb(55, 0, 255);
  }
  .linguagenjavasc{
    font-family: Impact;
    color: rgb(255, 230, 0);
  }
  .linguagenhtml{
    font-family: Impact;
    color: rgb(255, 102, 0);
  }
  .linguagencss{
    font-family: Impact;
    color: rgb(55, 0, 255);
  }
